/* src/index.css */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* ✅ Queremos que NO haya scroll global (solo en la tabla) */
body {
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0; /* ✅ clave para que los hijos puedan scrollear sin romperse */
}
